html{
    background-color: grey;
}

nav{
    font-size: x-large;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1vw;
    background-color: rgba(235, 169, 111, 0.589);
    padding: 2vw;
    
}

ul{
    list-style: none;
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ProbPost{
    margin-top: 5vw;
}

.ProbTile{
    background-color: lightgrey;
    margin: 1vw;
    border: 1px solid black;
    box-shadow: .5vw .3vw 2px black;
    border-radius: 1vw;
}

input{
    border-radius: .5vw;
    margin: .5vw;
    cursor: pointer;
}

.submit{
    font-weight: 400;
    font-size: 1.5vw;
}

.submit:hover{
    background-color: rgb(155, 153, 153);

}

