html{
    background-color: rgb(95, 158, 160);
}

nav{
    font-size: x-large;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(255, 248, 220);
    padding: 2vw;
}

ul{
    list-style: none;
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ProbPost{
    margin-top: 5vw;
    display: flex;
    justify-content: center;
}

.ProbTile{
    background-color: rgb(255, 248, 220);
    margin: 1vw;
    border: 1px solid black;
    box-shadow: .5vw .3vw 2px black;
    border-radius: 1vw;
}

input{
    border-radius: .5vw;
    margin: .5vw;
    cursor: pointer;
}

.submit{
    font-weight: 400;
    font-size: 2vw;
    background-color:rgb(255, 248, 220); 
}

.submit:hover{
    background-color: rgb(155, 153, 153);
}

input{
    height: 4vw;
}