.App {
  text-align: center;
}

body {
  background-color: rgb(95, 158, 160)
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

nav a:hover {
  text-shadow: 3px 3px 5px rgb(95, 158, 160);
}

section{
  border: 1px solid black;
}

.paige,.aj,.marti,.robby{
  max-width: 40vw;
  margin: 2vw;
  background-color: rgb(255, 248, 220);;
  padding: 2vw;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}